.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nouvelleTache {
  margin: auto;
  font-family: "Akaya Telivigala", cursive;
  font-size: 1.5em;
  transition: width 0.4s ease-in-out;
  padding: 12px 12px;
  width: 30%;
  border: none;
  border-radius: 6px;
  background-color: #e4fbff;
  font-weight: bold;
}
.nouvelleTache:focus {
  width: 60%;
  color: #28527a;
  border: 2px solid #046582;
}

.buttons {
  border-color: #046582;
  background-color: white;
  width: 250px;
  border-radius: 8px;
  color: #046582;
  padding: 12px 12px;
  margin: 12px 12px 12px 12px;
  font-family: "Akaya Telivigala", cursive;
  font-size: 1.2em;
  cursor: pointer;
}

.title {
  font-family: "Akaya Telivigala", cursive;
  text-align: center;
  padding: 12px;
  color: #28527a;
}

.buttonsContainer {
  margin: auto;
  text-align: center;
}

.buttons:hover {
  background-color: #046582;
  color: white;
  border: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.NumleftTodo {
  font-size: 1.3em;
  color: #b34180;
  padding: 12px;
  padding-top: 0px;
}
.listeTodo {
  display: flex;
  flex-direction: row;
  margin: auto;
  font-size: 1.6em;
}
.lefttodo {
  text-align: left;
  padding: 12px;
}
.completedtodo {
  text-align: left;
  padding: 12px;
}
